<div class="form-group">
	<h2 class="text-white" align=center>Add Account</h2>
</div>
<form #add="ngForm">
<div class="form-group">
	<table align=center>
		<tr>
			<th><h4 class="text-white">Name</h4></th>
			<td>
				<div class="form-group">
        				<input type=text pattern="[A-Za-z]{5,30}" required #name="ngModel" [class.is-invalid]="name.touched && name.invalid " name="name" class="form-control" [(ngModel)]="account.customer.customerName">
        				<div *ngIf="name.errors && name.touched">
            					<small class="text-danger"    *ngIf="name.errors.required">Name is required</small>
            					<small class="text-danger"     *ngIf="name.errors.pattern">Name must be atleast 5 characters</small>
       				 	</div>
				</div>
			</td>
		</tr>
		<tr>
			<th><h4 class="text-white">Contact Number</h4></th>
			<td>
				<div class="form-group">
        				<input type="tel" pattern="^\d{10}$" required #contact="ngModel" [class.is-invalid]="contact.touched && contact.invalid " name="contact" class="form-control" [(ngModel)]="account.customer.phone">
        				<div *ngIf="contact.errors && contact.touched">
            					<small class="text-danger"    *ngIf="contact.errors.required">Contact Number is required</small>
            					<small class="text-danger"     *ngIf="contact.errors.pattern">Contact Number should be 10 digits</small>
       				 	</div>
				</div>
			</td>
        </tr>
        <tr>
			<th><h4 class="text-white">PAN</h4></th>
			<td>
				<div class="form-group">
        				<input type=text pattern="^[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}$" required #pan="ngModel"  [class.is-invalid]="pan.touched && pan.invalid " name="pan" class="form-control" [(ngModel)]="account.customer.customerPAN">
        				<div *ngIf="pan.errors && pan.touched">
            					<small class="text-danger"    *ngIf="pan.errors.required">PAN is required</small>
            					<small class="text-danger"     *ngIf="pan.errors.pattern">PAN must be of length 10</small>
       				 	</div>
				</div>
			</td>
		</tr>
		<tr>
			<th><h4 class="text-white">Email</h4></th>
			<td>
				<div class="form-group">
					<input type="text" class="form-control" #email="ngModel" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" [class.is-invalid]="email.invalid && email.touched" name="emailId" [(ngModel)]="account.customer.emailId" [required]="true">
						<div *ngIf="email.touched &&  email.errors">
							<small class="text-danger" *ngIf="email.errors.required">Email is required</small>
							<small class="text-danger" *ngIf="email.errors.pattern">Email must be of valid pattern	</small>
						</div>
					</div>
			</td>
		</tr>
        <tr>
			<th><h4 class="text-white">HNo</h4></th>
			<td>
				<div class="form-group">
        				<input type=text required #hno="ngModel" [class.is-invalid]="hno.touched && hno.invalid " name="hno" class="form-control" [(ngModel)]="account.customer.address.hno">
        				<div *ngIf="hno.errors && hno.touched">
            					<small class="text-danger"    *ngIf="hno.errors.required">HNo is required</small>
       				 	</div>
				</div>
			</td>
        </tr>
        <tr>
			<th><h4 class="text-white">Street</h4></th>
			<td>
				<div class="form-group">
        				<input type=text pattern="[0-9]{1}" required #street="ngModel" [class.is-invalid]="street.touched && street.invalid " name="street" class="form-control" [(ngModel)]="account.customer.address.street">
        				<div *ngIf="street.errors && street.touched">
            					<small class="text-danger"    *ngIf="street.errors.required">Street is required</small>
            					<small class="text-danger"     *ngIf="street.errors.pattern">Street must be valid</small>
       				 	</div>
				</div>
			</td>
        </tr>
        <tr>
			<th><h4 class="text-white">City</h4></th>
			<td>
				<div class="form-group">
        				<input type=text pattern="[A-Za-z ]{5,30}" required #city="ngModel" [class.is-invalid]="city.touched && city.invalid " name="city" class="form-control" [(ngModel)]="account.customer.address.city">
        				<div *ngIf="city.errors && city.touched">
            					<small class="text-danger"    *ngIf="city.errors.required">City name is required</small>
            					<small class="text-danger"     *ngIf="city.errors.pattern">City name must be atleast 5 characters</small>
       				 	</div>
				</div>
			</td>
        </tr>
        <tr>
			<th><h4 class="text-white">State</h4></th>
			<td>
				<div class="form-group">
        				<input type=text pattern="[A-Za-z ]{5,30}" required #state="ngModel" [class.is-invalid]="state.touched && state.invalid " name="state" class="form-control" [(ngModel)]="account.customer.address.state">
        				<div *ngIf="state.errors && state.touched">
            					<small class="text-danger"    *ngIf="state.errors.required">State nameis required</small>
            					<small class="text-danger"     *ngIf="state.errors.pattern">State name must be atleast 5 characters</small>
       				 	</div>
				</div>
			</td>
        </tr>
        <tr>
			<th><h4 class="text-white">Country</h4></th>
			<td>
				<div class="form-group">
        				<input type=text pattern="[A-Za-z ]{5,30}" required  #country="ngModel" [class.is-invalid]="country.touched && country.invalid " name="country" class="form-control" [(ngModel)]="account.customer.address.country">
        				<div *ngIf="country.errors && country.touched">
            					<small class="text-danger"    *ngIf="country.errors.required">Country name is required</small>
            					<small class="text-danger"     *ngIf="country.errors.pattern">Country name must be atleast 5 characters</small>
       				 	</div>
				</div>
			</td>
        </tr>
        <tr>
            <th><h4 class="text-white">Account Type</h4></th>
            <td>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <select name="type" #type="ngModel" [(ngModel)]="account.type" class="form-control" [required]="true" [class.is-invalid]="type.invalid && type.touched">
                        <option selected="selected">Choose...</option>
                        <option>Savings</option>
                        <option>Current</option>
                    </select>
                    <div *ngIf="type.errors && type.touched">
                        <small class="text-danger"    *ngIf="type.errors.required">Account Type is required</small>
                    </div>
                </div>
            </div>
            </td>
        </tr>
        <tr>
            <th><h4 class="text-white">Account Balance</h4></th>
            <td>
                <div class="form-group">
                <input type="text" class="form-control" #balance="ngModel" name="balance" [(ngModel)]="account.balance" [required]="true" [class.is-invalid]="balance.invalid && balance.touched">
                <div *ngIf="balance.errors && balance.touched">
                    <small class="text-danger" *ngIf="balance.errors.required">Please enter Opening Balance</small>
                </div>
            </div>
            </td>
        </tr>
        <tr>
			<td>
				<div class="form-group">
				<input type=submit value="Submit" [disabled]="add.invalid" class="btn btn-primary text-white" (click)="addAccount()">
				</div>
			</td>
			<td>
				<div class="form-group">
					<input type=reset value="Cancel" class="btn btn-warning text-white">
				</div>
			</td>
		</tr>
	</table>
</div>
</form>