<div class="container my-3">
	<h1 style="color:#FF5050;">Pecunia Bank System</h1>
   </div>
<div>
		<pre><a routerLink="" ><button type="button" class="btn  btn-dark text-white btn-lg">ACCOUNT MANAGEMENT</button></a>   <a routerLink="/transactions"><button type="button" class="btn btn-dark text-white btn-lg">TRANSACTIONS</button></a>    <a routerLink="/passbook" ><button type="button" class="btn btn-dark text-white btn-lg">PASSBOOK MAINTENANCE</button></a>     <a routerLink="" ><button type="button" class="btn btn-dark text-white btn-lg">LOANS</button></a>     <a routerLink="/fixeddeposits" ><button type="button" class="btn btn-dark text-white btn-lg">FIXED DEPOSITS</button></a></pre>
</div>
<div class="container my-3">
	<pre>
	
	<router-outlet></router-outlet>
	</pre>
</div>