<div class="container my-3" align=center>
	<h1 class="text-white" >Loans</h1>
</div>
<div  align=center>
		<pre>

<a routerLink="/loan" ><button type="button" class="btn btn-info btn-lg text-white">Loan</button></a>     <a routerLink="/request"><button type="button" class="btn btn-info btn-lg text-white">Loan Request</button></a>     <a routerLink="/sanctioned"><button type="button" class="btn btn-info btn-lg text-white">Sanctioned Loans</button></a>     <a routerLink="/repayment"><button type="button" class="btn btn-info btn-lg text-white">Loan Repayment</button></a></pre>
</div>
<router-outlet></router-outlet>