<div class="container">
    <h1 align=center class="text-white">Loan</h1>
</div>
<div class="container" align=center>
    <form #create="ngForm">
        <table class="table table-dark table-borderless">
            <tr>
                <th><h5 class="text-white">Loan Id</h5></th>
                <td>
                    <div class="form-group">
                        <input type="tel" pattern="^\d{3,5}$" required #loanId="ngModel" [class.is-invalid]="loanId.touched && loanId.invalid " name="loanId" class="form-control" [(ngModel)]="loan.loanId">
        				<div *ngIf="loanId.errors && loanId.touched">
            					<small class="text-danger"    *ngIf="loanId.errors.required">Loan ID is required</small>
            					<small class="text-danger"     *ngIf="loanId.errors.pattern">Loan ID must be 3 to 5 digits</small>
       				 	</div>
                    </div>
                </td>
            </tr>
	        <tr>
                <th><h5 class="text-white">Loan Type</h5></th>
                    <td>
                        <div class="form-group">
                            <input type=text pattern="[A-Za-z]{3,20}" required #loanType="ngModel" [class.is-invalid]="loanType.touched && loanType.invalid " name="loanType" class="form-control" [(ngModel)]="loan.loanType">
                            <div *ngIf="loanType.errors && loanType.touched">
                                    <small class="text-danger"    *ngIf="loanType.errors.required">Loan Type is required</small>
                                    <small class="text-danger"     *ngIf="loanType.errors.pattern">Loan Type must be atleast 3 characters</small>
                                </div>
    
                        </div>
                    </td>
            </tr>
	        <tr>
                <th><h5 class="text-white">Loan Roi</h5></th>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" #roi="ngModel" name="roi" [(ngModel)]="loan.loanRoi" [required]="true" [class.is-invalid]="roi.invalid && roi.touched">
                        <div *ngIf="roi.errors && roi.touched">
                           <small class="text-danger" *ngIf="roi.errors.required">Please enter Loan Roi</small>
                           <small class="text-danger" *ngIf="roi.errors.pattern">ROI should contain only digits</small>
                     </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                     <div class="form-group">
                         <input type=submit value="AddLoan" [disabled]="create.invalid" class="btn btn-primary text-white" (click)="insertLoans()">
                     </div>
                </td>
                <td>
                     <div class="form-group">
                         <input type=submit value="GetLoans" [disabled]="loanId.invalid" class="btn btn-primary text-white" (click)="getLoans()">
                     </div>
                </td> 
            </tr>        
            <tr>
                <td>
                     <div class="form-group">
                         <input type=submit value="DeleteLoans"  [disabled]="loanId.invalid" class="btn btn-primary text-white" (click)="deleteLoans()">
                     </div>
                </td>
                <td>
                     <div class="form-group">
                          <input type=reset value="Cancel" class="btn btn-warning text-white">
                     </div>
                </td>
            </tr>
         </table>
     </form>
</div>
         
         