<table align=center class="table table-striped text-white table-bordered">
	<tr>
		<th>Holder ID</th>
		<th>Holder Name</th>
		<th>Deposited Amount</th>
		<th>Duration</th>
        <th>ROI</th>
		<th>Deposited Date</th>
	</tr>
	<tr>
		<td>{{fixedDepositHolders.depositHolderId}}</td>
		<td>{{fixedDepositHolders.customer.customerName}}</td>
		<td>{{fixedDepositHolders.amount}}</td>
		<td>{{fixedDepositHolders.depositDetails.depositDuration}}</td>
		<td>{{fixedDepositHolders.depositDetails.rateOfInterest}}</td>
		<td>{{fixedDepositHolders.depositedDate}}</td>
	</tr> 
</table>