<div class="container">
  <h1 align=center class="text-white">Loan</h1>
</div>
<div class="container" align=center>
    <input type=button value="ShowLoans" class="btn btn-info btn-lg" (click)="getAllLoans()">
        <table class="table table-borderless table-dark" align=center>
            <tr>
              <th>Loan Id</th>
              <th>Loan Type</th>
              <th>Loan Roi</th>
            </tr>
            <tr *ngFor="let l of loans">
              <td>{{l.loanId}}</td>
              <td>{{l.loanType}}</td>
              <td>{{l.loanRoi}}</td>
            </tr>
         </table>
 </div>